html {
    overflow: hidden;
}

body {
    font-family: "lobster", sans-serif;
    line-height: 1.2;
    font-size: 45px;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;

    color: #09472c;
    background: #c9de96;  /*Old browsers */
    background-image: url("../img/noise.png"), -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);  /*FF3.6+*/
    background-image: url("../img/noise.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9de96), color-stop(44%, #8ab66b), color-stop(100%, #398235));  /*Chrome,Safari4+*/
    background-image: url("../img/noise.png"), -webkit-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);  /*Chrome10+,Safari5.1+*/
    background-image: url("../img/noise.png"), -o-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);  /*Opera 11.10+*/
    background-image: url("../img/noise.png"), -ms-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);  /*IE10+*/
    background-image: url("../img/noise.png"), linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);  /*W3C*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c9de96', endColorstr = '#398235', GradientType = 0);  /*IE6-9*/
    z-index: 0;
    opacity: 1;
}

.title {
    font-size: 275px;
}

.big {
    margin: 0;
    padding: 0;
    width: 100%;
}

.bold {
    font-weight: 800;
}

.light {
    font-weight: 400;
}

.extralight {
    font-weight: 300;
    letter-spacing: .1em;
}

.small {
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap {
    margin: 0 auto;
}

.img-inline {
    display: inline-block;
    padding: 12px 3px;
}

.img-link {
    text-decoration: none;
}

.img-border {
    border: solid 1px #aaa;
}

/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    text-shadow: rgba(0, 0, 0, .01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) {
    opacity: 0.1;
}

 /*STEP SPECIFIC STYLES */
#title {
    width: 1240px;
    height: 600px;
    text-align: left;
}

#title-text1 {
    font-size: 125px;
}

#title-text2 {
    font-family: 'gothic-open-shaded', serif;
    font-size: 160px;
}

#title-text3 {
    font-size: 150px;
    text-align: center;
    margin-top: -65px;
    margin-left: 139px;
}

#title-text4 {
    text-align: right;
    font-size: 45px;
    margin-top: 120px;
}

.big div {
    font-size: 200px;
    font-family: "atrament-web";
}

#choosing {
    line-height: 1;
}
#choosing .big div, #finding .big div {
    font-size: 125px;
    text-align: left;
}

.big div.bolden, .bolden {
    font-family: adelle;
    font-weight: bold;
    color: #3e0745;
}

.big div.first div {
    font-size:68px;
}
.big div.last div {
    font-size: 45px;
}

#finding .bolden {
    color: #155b8a;
}

#deciding .bolden {
    color: #ad430d;
}

.highlight {
    color: #3e0745;
}


